.avatar{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-radius: 4px;   
    border-radius: 50%;
    z-index: 0;
    background: rgba($color, 0.15);
    img{
        width: 100%;
    }    
}
.avatar-20{
    width: 20px;
    min-width: 20px;
    height: 20px;
    line-height: 20px;    
    font-size: 10px;
}
.avatar-26{
    width: 26px;
    min-width: 26px;
    height: 26px;
    line-height: 26px;    
    font-size: 20px;
}
.avatar-30{
    width: 30px;
    min-width: 30px;
    height: 30px;
    line-height: 30px;    
    font-size: 15px;
}
.avatar-36{
    width: 36px;
    min-width: 36px;
    height: 36px;
    line-height: 32px;    
    font-size: 15px;
}
.avatar-40{
    width: 40px;
    min-width: 40px;
    height: 40px;
    line-height: 40px;    
}
.avatar-50{
    width: 50px;
    min-width: 50px;
    height: 50px;
    line-height: 50px;    
}
.avatar-60{
    width: 60px;
    min-width: 60px;
    height: 60px;
    line-height: 60px;    
}
.avatar-70{
    width: 70px;
    min-width: 70px;
    height: 70px;
    line-height: 70px;    
}
.avatar-80{
    width: 80px;
    min-width: 80px;
    height: 80px;
    line-height: 80px;    
}
.avatar-90{
    width: 90px;
    height: 90px;
    line-height: 90px;    
}
.avatar-100{
    width: 100px;
    height: 100px;
    line-height: 100px;    
}
.avatar-110{
    width: 110px;
    height: 110px;
    line-height: 110px;    
}
.avatar-120{
    width: 120px;
    height: 120px;
    line-height: 120px;    
}
.avatar-130{
    width: 130px;
    height: 130px;
    line-height: 130px;    
}
.avatar-140{
    width: 140px;
    height: 140px;
    line-height: 140px;    
}
.avatar-150{
    width: 150px;
    height: 150px;
    line-height: 150px;    
}
.avatar-160{
    width: 160px;
    height: 160px;
    line-height: 160px;    
}
.avatar-170{
    width: 170px;
    height: 170px;
    line-height: 170px;    
}
.avatar-180{
    width: 180px;
    height: 180px;
    line-height: 180px;    
}.avatar-190{
    width: 190px;
    height: 190px;
    line-height: 190px;    
}
.avatar-200{
    width: 200px;
    height: 200px;
    line-height: 200px;    
}