
/*---------------- button -------------*/

.btn {
    border: 0;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: 500;
    outline: none;
    -webkit-outline: none;
    font-size: 14px;
    line-height: 31px;
    padding: 6px 20px;
    
    &.btn-sm{
        font-size: 12px;
        padding: 3px 15px;
    }
    i,
    .material-icons {
        vertical-align: middle;
    }

    &.btn-link-default {
        color: $color;
    }

    &.menu-btn,
    &.sqaure-btn {
        height: 44px;
        line-height: 40px;
        vertical-align: middle;
        width: 44px;
        text-align: center;
        padding: 0;
    }

    &.small-btn {
        height: 34px;
        line-height: 30px;
        vertical-align: middle;
        width: 34px;
        text-align: center;
        padding: 0;
    }

    &.btn-info {
        background-color: $bg-primary;
        box-shadow: 0 3px 10px rgba($bg-primary, 0.5);
        -webkit-box-shadow: 0 3px 10px rgba($bg-primary, 0.5);
        -moz-box-shadow: 0 3px 10px rgba($bg-primary, 0.5);
        -ms-box-shadow: 0 3px 10px rgba($bg-primary, 0.5);

        &:hover,
        &:focus {
            background-color: darken($bg-primary, 10%);
            box-shadow: 0 3px 10px rgba($bg-primary, 0.75);
            -webkit-box-shadow: 0 3px 10px rgba($bg-primary, 0.75);
            -moz-box-shadow: 0 3px 10px rgba($bg-primary, 0.75);
            -ms-box-shadow: 0 3px 10px rgba($bg-primary, 0.75);
        }

        &:focus:active,
        &:active,
        &:not(:disabled).active {
            background-color: darken($bg-primary, 15%);
        }
    }

    &.btn-danger {
        background-color: $bg-secondary;
        box-shadow: 0 3px 10px rgba($bg-secondary, 0.5);
        -webkit-box-shadow: 0 3px 10px rgba($bg-secondary, 0.5);
        -moz-box-shadow: 0 3px 10px rgba($bg-secondary, 0.5);
        -ms-box-shadow: 0 3px 10px rgba($bg-secondary, 0.5);

        &:hover,
        &:focus {
            background-color: darken($bg-secondary, 5%);
            box-shadow: 0 3px 10px rgba($bg-secondary, 0.75);
            -webkit-box-shadow: 0 3px 10px rgba($bg-secondary, 0.75);
            -moz-box-shadow: 0 3px 10px rgba($bg-secondary, 0.75);
            -ms-box-shadow: 0 3px 10px rgba($bg-secondary, 0.75);
        }

        &:focus:active,
        &:active {
            background-color: darken($bg-secondary, 10%);
        }
    }

    &.btn-primary {
        background-color: #63abff;
        box-shadow: 0 3px 10px rgba(#63abff, 0.5);
        -webkit-box-shadow: 0 3px 10px rgba(#63abff, 0.5);
        -moz-box-shadow: 0 3px 10px rgba(#63abff, 0.5);
        -ms-box-shadow: 0 3px 10px rgba(#63abff, 0.5);

        &:hover,
        &:focus {
            background-color: darken(#63abff, 5%);
            box-shadow: 0 3px 10px rgba(#63abff, 0.75);
            -webkit-box-shadow: 0 3px 10px rgba(#63abff, 0.75);
            -moz-box-shadow: 0 3px 10px rgba(#63abff, 0.75);
            -ms-box-shadow: 0 3px 10px rgba(#63abff, 0.75);
        }

        &:focus:active,
        &:active {
            background-color: darken(#63abff, 10%);
        }
    }

    &.btn-secondary {
        background-color: $color-secondary;
        box-shadow: 0 3px 10px rgba($color-secondary, 0.5);
        -webkit-box-shadow: 0 3px 10px rgba($color-secondary, 0.5);
        -moz-box-shadow: 0 3px 10px rgba($color-secondary, 0.5);
        -ms-box-shadow: 0 3px 10px rgba($color-secondary, 0.5);

        &:hover,
        &:focus {
            background-color: darken($color-secondary, 5%);
            box-shadow: 0 3px 10px rgba($color-secondary, 0.75);
            -webkit-box-shadow: 0 3px 10px rgba($color-secondary, 0.75);
            -moz-box-shadow: 0 3px 10px rgba($color-secondary, 0.75);
            -ms-box-shadow: 0 3px 10px rgba($color-secondary, 0.75);
        }

        &:focus:active,
        &:active {
            background-color: darken($bg-secondary, 10%);
        }
    }

    &.btn-success {
        background-color: #6be3a2;
        box-shadow: 0 3px 10px rgba(#6be3a2, 0.5);
        -webkit-box-shadow: 0 3px 10px rgba(#6be3a2, 0.5);
        -moz-box-shadow: 0 3px 10px rgba(#6be3a2, 0.5);
        -ms-box-shadow: 0 3px 10px rgba(#6be3a2, 0.5);

        &:hover,
        &:focus {
            background-color: darken(#6be3a2, 5%);
            box-shadow: 0 3px 10px rgba(#6be3a2, 0.75);
            -webkit-box-shadow: 0 3px 10px rgba(#6be3a2, 0.75);
            -moz-box-shadow: 0 3px 10px rgba(#6be3a2, 0.75);
            -ms-box-shadow: 0 3px 10px rgba(#6be3a2, 0.75);
        }

        &:focus:active,
        &:active {
            background-color: darken(#6be3a2, 10%);
        }
    }

    &.btn-warning {
        background-color: #ffdd6d;
        box-shadow: 0 3px 10px rgba(#ffdd6d, 0.5);
        -webkit-box-shadow: 0 3px 10px rgba(#ffdd6d, 0.5);
        -moz-box-shadow: 0 3px 10px rgba(#ffdd6d, 0.5);
        -ms-box-shadow: 0 3px 10px rgba(#ffdd6d, 0.5);

        &:hover,
        &:focus {
            background-color: darken(#ffdd6d, 5%);
            box-shadow: 0 3px 10px rgba(#ffdd6d, 0.75);
            -webkit-box-shadow: 0 3px 10px rgba(#ffdd6d, 0.75);
            -moz-box-shadow: 0 3px 10px rgba(#ffdd6d, 0.75);
            -ms-box-shadow: 0 3px 10px rgba(#ffdd6d, 0.75);
        }

        &:focus:active,
        &:active {
            background-color: darken(#ffdd6d, 10%);
        }
    }

    &.btn-light {
        background-color: #f7f7f7;
        box-shadow: 0 3px 10px rgba(#f7f7f7, 0.5);
        -webkit-box-shadow: 0 3px 10px rgba(#f7f7f7, 0.5);
        -moz-box-shadow: 0 3px 10px rgba(#f7f7f7, 0.5);
        -ms-box-shadow: 0 3px 10px rgba(#f7f7f7, 0.5);

        &:hover,
        &:focus {
            background-color: darken(#f7f7f7, 5%);
            box-shadow: 0 3px 10px rgba(#f7f7f7, 0.75);
            -webkit-box-shadow: 0 3px 10px rgba(#f7f7f7, 0.75);
            -moz-box-shadow: 0 3px 10px rgba(#f7f7f7, 0.75);
            -ms-box-shadow: 0 3px 10px rgba(#f7f7f7, 0.75);
        }

        &:focus:active,
        &:active {
            background-color: darken(#f7f7f7, 10%);
        }
    }
    &.btn-dark {
        background-color: $color;
        box-shadow: 0 3px 10px rgba($color, 0.5);
        -webkit-box-shadow: 0 3px 10px rgba($color, 0.5);
        -moz-box-shadow: 0 3px 10px rgba($color, 0.5);
        -ms-box-shadow: 0 3px 10px rgba($color, 0.5);

        &:hover,
        &:focus {
            background-color: darken($color, 5%);
            box-shadow: 0 3px 10px rgba($color, 0.75);
            -webkit-box-shadow: 0 3px 10px rgba($color, 0.75);
            -moz-box-shadow: 0 3px 10px rgba($color, 0.75);
            -ms-box-shadow: 0 3px 10px rgba($color, 0.75);
        }

        &:focus:active,
        &:active {
            background-color: darken($color, 10%);
        }
    }

    &.btn-lg {
        padding: 17px 20px;
        line-height: 20px;
        font-size: 16px;
    }
}