.header-title {
    font-size: 15px;
    font-weight: 400;
}

.card {
    border: 0;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
    z-index: 1;

    .card-header {
        border: 0;
        border-radius: 15px 15px 0 0;
        background: transparent;
        padding: 10px 15px;
    }

    .card-footer {
        border: 0;
        border-radius: 0 0 15px 15px;
        background: transparent;
        padding: 10px 15px;
    }
    .card-body-wrap{
        border: 1px dashed rgba(255, 255, 255, 0.5);
        margin: 5px;
        display: block;
        border-radius: 15px;
    }
    .card-body {
        border: 0;
        padding: 15px 15px;
    }
}
.payment-card-large{
    width: 300px;    
    min-width: 300px;    
}
