body.darkmode {
    background: #222;
    color: #ffffff;
    
    main, .loader-display {
        background: #222222;
        color: #ffffff;
    }

    .text-dark {
        color: #ffffff !important;
    }

    .text-secondary {
        color: #aaaaaa !important;
    }

    .text-dark {
        & svg {

            path,
            polyline,
            line,
            rect,
            circle,
            polygon {
                stroke: #ffffff !important;
                fill: #ffffff;
            }
        }
    }

    .text-white {
        & svg {

            path,
            polyline,
            line,
            rect,
            circle,
            polygon {
                stroke: #ffffff !important;
                fill: #fff;
            }
        }
    }

    .text-danger {
        & svg {

            path,
            polyline,
            line,
            rect,
            circle,
            polygon {
                stroke: $bg-secondary !important;
                fill: $bg-secondary
            }
        }
    }

    .text-secondary {
        & svg {

            path,
            polyline,
            line,
            rect,
            circle,
            polygon {
                stroke: $color-secondary !important;
                fill: $color-secondary;
            }
        }
    }

    .header {
        .navbar-brand {
            h4 {
                color: #ffffff
            }
        }

        &.active {
            background-color: rgba(#222222, 0.8);
        }
    }

    .menu-btn {
        img {
            content: url(../../img/icons/menu-outline-white.svg);
        }
    }

    .card {
        background-color: #333333;
    }

    .list-group {
        .list-group-item {
            background-color: #383838;
            color: #ffffff;
        }
    }

    .main-menu {
        background: #000000;

        .menu-container {
            background: #222222;

            .nav {
                .nav-item {
                    .nav-link {
                        color: #ffffff;
                    }
                }
            }
        }

    }

    &.menu-push-content {
        &.menu-open{
            background: #000000;
        }
        
        .main-menu {
            background: #000000;

            .menu-container {
                background: #000000;
            }
        }
    }

    .footer {
        background: #333 !important;
    }

    .border-color,
    table.no-border tfoot tr td,
    .menu-active main {
        border-color: rgba(255, 255, 255, 0.08) !important;
    }

    .form-control {
        background: #333333;
        border: 1px solid rgba(255, 255, 255, 0.1);
        color: #ffffff;

        &::placeholder {
            color: rgba(255, 255, 255, 0.5)
        }

        option {
            color: #000000
        }
    }

    .floating-form-group {
        & > .floating-label {
            color: rgba(255, 255, 255, 0.5)
        }

        .floating-input {
            background: transparent;
            border: 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            color: #ffffff;

            &:focus,
            &:focus:active {
                border-bottom: 1px solid rgba(255, 255, 255, 0.5);

                & + .floating-label {
                    color: #ffffff
                }


            }
        }

        &.active {
            & > .floating-label {
                color: #aaaaaa
            }
        }
    }

    .filter {
        .filters-container {
            background-color: #222222;
        }
    }

    .noUi-target {
        border-color: rgba(255, 255, 255, 0.3)
    }


    .sidebar-right {
        background: #444444;
        color: #ffffff;
    }
    .custom-control-input:checked ~ .custom-control-label::before{
        border: 1px solid rgba(255, 255, 255, 0.3)
    }
    .checkbox-boxed + .checkbox-lable{
        padding: 1px;
    }
    .link{
        color: #ffffff;
    }
}
