$background-color: #F3F7FA;
$background-image: url('../../img/background2.png');
$background-image-tablet: url('../../img/background-tablet.png');
$color: #122a73;
$color-negative: #ffffff;
$color-secondary: #999999;
$bg-primary: #03a9f4;
$bg-secondary : #E91E63;
$bg-primary-text: #ffffff;
$bg-secondary-text: #ffffff;


$bg-dark-blue: #122a73;
$bg-dark-purple: #491879;
$bg-maroon: #ad162b;
$bg-dark-grey: #475861;
$bg-dark-pink: #e92063;
$bg-brown: #795448;
$bg-green: #00b491;
$bg-red: #f94620;
$bg-pink: #e91e63;
$bg-purple: #6121d2;
$bg-blue: #143be0;
$bg-teal: #00bcd4;
$bg-skyblue: #0faff7;
$bg-amber: #ffc107;
$bg-gray: #607d8b;
$bg-slat: #22262b;