.filter {
    position: fixed;
    z-index: 999;
    width: 300px;
    right: -320px;
    height: 100%;
    overflow-y: auto;
    padding: 10px;
    @extend .transition;

    & > .filters-container {
        background: $color-negative;
        border-radius: 15px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        -ms-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        min-height: 100%;
        position: relative;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    &.active {
        right: 0px;
    }
}

.filter-btn {
    &.close {
        position: absolute;
        right: 20px;
        top: 20px;
        opacity: 1
    }
}

.filter-backdrop{
    background: rgba($bg-primary, 0.25);
    height: 100%; width: 100%; position: fixed; top: 0; left: 0;
    z-index: 998;
    display: none
}