/* login */
.login-box {
    max-width: 350px;
    margin: 0 auto;
}

/* input fields */
input,
select,
textarea,
.form-control {
    &:focus {
        outline: none;
        -webkit-outline: none;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
    }
}

.form-control {
    padding: 10px 15px;
    line-height: 24px;
    font-size: 15px;
    height: auto;

    &::placeholder {
        color: rgba($color-secondary, 0.4);
        font-weight: 400;
    }
}

.floating-form-group {
    position: relative;
    padding-top: 15px;
    z-index: 1;

    & > .floating-label {
        position: absolute;
        left: 0;
        top: 22px;
        color: rgba($color-secondary, 0.4);
        @extend .transition;
        z-index: -1;
    }

    .floating-input {
        background: transparent;
        border-radius: 0;
        border-width: 0px;
        border-bottom: 1px solid rgba($color-secondary, 0.3);
        padding: 10px 0px;
        line-height: 24px;
        z-index: 2;
        @extend .transition;




        &:focus,
        &:focus:active {
            border-bottom: 1px solid $bg-secondary;

            & + .floating-label {
                color: $bg-secondary;
                top: 0;
                font-size: 13px;
            }


        }


    }

    &.active {
        & > .floating-label {
            color: $color-secondary;
            top: 0;
            font-size: 13px;
        }
    }



}

.search {
    border: 0;
    border-radius: 30px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
}

/* boxed checkbox */
.checkbox-boxed {
    display: none;

    & + .checkbox-lable {
        cursor: pointer;
        background: none;
        display: block;
        width: 100%;
        text-align: center;
        border-radius: 15px;
        color: $color-secondary;
        margin-bottom: 0;

        span {
            display: block
        }

        .image-boxed {
            height: 80px;
            line-height: 78px;
            width: 100%;
            border-radius: 15px;
            overflow: hidden;
            position: relative;
            display: block;
            background: $color;
        }

        .p {
            padding: 5px 0;
            line-height: 16px;
            font-size: 12px;
            display: block;
            margin: 0;
        }
    }

    &:checked {

        & + .checkbox-lable {
            background: $bg-primary;
            color: $bg-primary-text;

            .image-boxed {
                background: $color;
            }
        }
    }
}

.custom-control-input:checked~.custom-control-label::before {
    color: $color-negative;
    border-color: $color;
    background-color: $color;
}

/* range picker slider */
.noUi-target {
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: 1px solid rgba($color-secondary, 0.2);

    &.noUi-horizontal {
        height: 10px;
    }

    .noUi-origin {
        .noUi-handle {
            height: 30px;
            width: 30px;
            top: -11px;
            border:0;
            box-shadow: 0 35x 7px rgba(0, 0, 0, 0.10);
            -webkit-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.10);
            -moz-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.10);
            -ms-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.10);
            border-radius: 15px;
            border: 1px solid rgba($color-secondary, 0.2);

            &:before {
                display: none
            }

            &:after {
                display: none
            }
        }
    }

    .noUi-connect {
        background: $bg-primary;
    }
}

/* switch customized */
$width: 60px;
$height: $width / 2;

.switch-wrap {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.05);
    width: $width;
    height: $height;
    border-radius: $height / 2;

    input {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

    .switch {
        height: 100%;
        transition: .2s;
        -webkit-transition: .2s;
        -moz-transition: .2s;
        -ms-transition: .2s;
        position: relative;
        width: 100%;
        border-radius: $height / 2;

        &::after {
            content: '';
            border-radius: 50%;
            background: #ccc;
            transition: .2s;
            -webkit-transition: .2s;
            -moz-transition: .2s;
            -ms-transition: .2s;
            position: absolute;
            left: 2px;
            top: 2px;
            height: $width / 2 - 4;
            width: $width / 2 - 4;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1)
        }

    }

    &.switch-success {
        input:checked {
            & + .switch {
                background-color: #6be3a2;
            }
        }
    }

    &.switch-info {
        input:checked {
            & + .switch {
                background-color: $bg-primary;
            }
        }
    }

    &.switch-danger {
        input:checked {
            & + .switch {
                background-color: $bg-secondary;
            }
        }
    }

    &.switch-primary {
        input:checked {
            & + .switch {
                background-color: #63abff;
            }
        }
    }

    &.switch-warning {
        input:checked {
            & + .switch {
                background-color: #ffdd6d;
            }
        }
    }

    input:checked {
        & + .switch {

            &::after {
                background-color: #ffffff;
                left: $width / 2 + 2;
            }
        }

    }
}

.custom-control-input {
    &.switch-success {
        &:checked {
            & + .custom-control-label:before {
                background-color:  #6be3a2;
                border-color: #6be3a2;
            }
        }
    }

    &.switch-info {
        &:checked {
            & + .custom-control-label:before {
                background-color: $bg-primary;
                border-color: $bg-primary;
            }
        }
    }

    &.switch-danger {
        &:checked {
            & + .custom-control-label:before {
                background-color: $bg-secondary;
                border-color: $bg-secondary;
            }
        }
    }

    &.switch-primary {
        &:checked {
            & + .custom-control-label:before {
                background-color: #63abff;
                border-color: #63abff;
            }
        }
    }

    &.switch-warning {
        &:checked {
            & + .custom-control-label:before {
                background-color: #ffdd6d;
                border-color: #ffdd6d;
            }
        }
    }

}