html {
    width: 100%;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #222222;
    background: $background-image $background-color fixed;
    background-position: center top;
    background-size: cover;
    overflow-x: hidden
}

h1,
h2,
h3,
h4,
h5,
h6,
.btn {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;

    &:last-child {
        margin-bottom: 0;
    }
}

p:last-child {
    margin-bottom: 0;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
}



.bg-dark {
    background-color: $color !important;
}

.bg-none {
    background: transparent !important
}

.link {
    color: $color;
}

.text-secondary {
    color: $color-secondary !important
}

.text-danger {
    color: $bg-secondary !important
}

.font-weight-medium {
    font-weight: 500
}

.bg-info-gradient {
    background: #696cd4;
    background: -moz-linear-gradient(45deg, #696cd4 0%, #80d4ff 100%);
    background: -webkit-linear-gradient(45deg, #696cd4 0%, #80d4ff 100%);
    background: linear-gradient(45deg, #696cd4 0%, #80d4ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#696cd4', endColorstr='#80d4ff', GradientType=1);

}

.w-300{
    max-width: 360px;
    width: 300px;
}
.bottom-center {
    position: fixed;
    bottom: 30px;
    left: 0;
    right: 0;
    width: auto;
    z-index: 999;
    margin: 0 auto;
}

.background {
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.small-font {
    font-size: 14px;
    line-height: 22px;
}

.transition {
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
}


.vm {
    vertical-align: middle
}

.border-color {
    border-color: rgba($color, 0.05) !important
}

.z-1 {
    z-index: 1
}

/* map view */
.map-view-map {
    position: fixed;
    z-index: 0;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border: 0;
}

.map-view {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 30px;
    left: 0;
}

.map-box {
    width: 100%;
    height: 120px;
    border-radius: 15px;
    overflow: hidden;
}

.top-30 {
    top: -30px;
    position: relative;
}

/*----------------- Table  stlye --------------------*/
table.no-border {
    tr {
        td {
            border: 0;
        }
    }

    tfoot {
        tr {
            td {
                border-top: 2px solid #000;
                @extend .border-color;
            }
        }
    }
}


/*----------------- dowpdown stlye --------------------*/

.no-caret {
    &:after {
        display: none
    }
}

.dropdown-menu {
    border: 0;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

    .dropdown-item {
        border-radius: 15px
    }
}

::-webkit-scrollbar {
    width: 0px;
    height: 2px
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(97, 33, 210, 0.3)
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    background: rgba(97, 33, 210, 0.05)
}
