.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 15px;
    z-index: 99;
    backdrop-filter: blur(10px);
    @extend .transition;

    .navbar-brand {
        padding: 0;

        & > img {
            max-height: 44px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }

        h4 {
            font-size: 20px;
            color: $color;
            vertical-align: middle;
            display: inline-block;
            margin: 0;
            margin-left: 10px;
        }
    }

    &.active {
        background: rgba($color-negative, 0.85);
        backdrop-filter: blur(10px);
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
        -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
        -ms-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);

    }
}

main {
    background: $background-image $background-color fixed;
    background-size: cover;
    padding-top: 60px;
    display: block;
    width: 100%;
    top: 0;
    padding-top: 60px;
    z-index: 1;
    @extend .transition;
}
