.icon-size-16 {
    width: 18px;
}
.icon-size-12 {
    width: 12px;
}
.icon-size-24 {
    width: 24px;
}

.icon-size-32 {
    width: 32px;
}

.icon-size-40 {
    width: 40px;
}

.icon-size-48 {
    width: 48px;
}


.icon-size-96 {
    width: 96px;
}

.icon {
    border-radius: 50%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;

    & > span {
        vertical-align: middle
    }

    &.icon-44 {
        height: 44px;
        width: 44px;
        line-height: 40px;

        & > span {
            font-size: 22px;
        }
    }

    &.icon-100 {
        height: 100px;
        width: 100px;
        line-height: 100px;

        & > span {
            font-size: 50px;
        }
    }
    
    &.rounded{
        border-radius: 15px;
    }
}

.text-dark {
    & svg {

        path,
        polyline,
        line,
        rect,
        circle,
        polygon {
            stroke: $color !important;
            fill: $color ;
        }
    }
}

.text-white {
    & svg {

        path,
        polyline,
        line,
        rect,
        circle,
        polygon{
            stroke: #ffffff !important;
            fill:#fff;
        }
    }
}

.text-danger {
    & svg {

        path,
        polyline,
        line,
        rect,
        circle,
        polygon{
            stroke:  $bg-secondary !important;
            fill: $bg-secondary
        }
    }
}

.text-secondary {
    & svg {

        path,
        polyline,
        line,
        rect,
        circle,
        polygon{
            stroke: $color-secondary !important;
            fill: $color-secondary;
        }
    }
}
