.image-circle {
    text-align: center;
    width: 100%;
    padding: 20px 15px 40px 15px;
    margin-bottom: 20px;
    position: relative;

    & > figure {
        height: 300px;
        width: 300px;
        display: inline-block;
        margin: 0 auto;
        border-radius: 150px;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
        -ms-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
        vertical-align: top;
    }
    & > .icon{
        position: absolute;
        bottom: 50px;
        left: 0;
        right: 0;
        margin:0 auto -40px auto;
        
    }
}
