.menu-overlay {
    .main-menu {
        background: $background-image rgba($color-negative, 0.95) fixed;
        background-size: cover;
        padding: 60px 30px 50px 30px;
        height: 100%;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        display: none;

        .menu-container {
            background: $color-negative;
            max-width: 300px;
            border-radius: 15px;
            padding: 40px 0;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
            -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
            -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
            -ms-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
            margin: 0 auto;
            text-align: center;
            position: relative;

            & > .icon {
                margin: 0 auto;
                margin-top: -90px;
                border: 2px solid $color-negative;
                box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
                -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
                -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
                -ms-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
            }

            .nav-pills {
                margin-top: 20px;

                .nav-item {
                    .nav-link {
                        border-radius: 15px;
                        line-height: 24px;
                        padding: 10px 15px;
                        font-size: 16px;
                        text-align: left;
                        position: relative;
                        color: #222222;

                        .arrow {
                            position: absolute;
                            top: 12px;
                            bottom: 0;
                            right: 10px;
                            // stroke: rgba($color-secondary, 0.3);
                            stroke: #222222;
                        }

                        &.active {
                            background: $color;
                            border-bottom: 5px solid $bg-primary;
                            color: $color-negative;

                            .arrow {
                                stroke: $color-negative;
                            }
                        }
                    }
                }
            }

            & > .close {
                margin: 0 auto;
                position: absolute;
                bottom: -18px;
                left: 0;
                right: 0;
                opacity: 1;
            }
        }
    }
}

.menu-push-content {
    .main-menu {
        background: $color-negative;
        background-size: cover;
        padding: 60px 0px 50px 0px;
        height: 100%;
        width: 300px;
        margin-left: -320px;
        height: 100%;
        overflow-y: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        display: block;
        @extend .transition;


        .menu-container {
            background: $color-negative;
            max-width: 300px;
            border-radius: 15px;
            padding: 40px;
            margin: 0 auto;
            text-align: center;
            position: relative;

            & > .icon {
                margin: 0 auto;
                margin-top: -90px;
                border: 2px solid $color-negative;
                box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
                -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
                -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
                -ms-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
            }

            .nav-pills {
                margin-top: 20px;

                .nav-item {
                    .nav-link {
                        border-radius: 15px;
                        line-height: 24px;
                        padding: 10px 15px;
                        font-size: 16px;
                        text-align: left;
                        position: relative;
                        color: $color;

                        .arrow {
                            position: absolute;
                            top: 12px;
                            bottom: 0;
                            right: 10px;
                            // stroke: rgba($color-secondary, 0.3);
                            stroke: #222222;
                        }

                        &.active {
                            background: $color;
                            border-bottom: 5px solid $bg-primary;
                            color: $color-negative;

                            .arrow {
                                stroke: $color-negative;
                            }
                        }
                    }
                }
            }

            & > .close {
                margin: 0 auto;
                position: absolute;
                bottom: -18px;
                left: 0;
                right: 0;
                opacity: 1;
            }
        }
    }
}

.menu-active {
    background: $color-negative;
    background-image: none;

    .main-menu {
        margin-left: 0;
    }

    main {
        border-radius: 15px;
        transform: scale(0.9);
        margin-left: 300px;
        height: 100%;
        box-shadow: 0 1px 15px rgba(0, 0, 0, 0.05);
        -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.05);
        -ms-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.05);
        overflow: hidden;
        border: 1px solid #f4f4f4;
        @extend .border-color;
    }
    .footer, .colorsettings, .sidebar-right {
        display: none;
    }
}

.menu-open {
    overflow: hidden;
    width: 100%;

}
