.offers{
    width: auto;
    position: absolute;
    left: -10px;
    top: 20px;
    background: $bg-primary;
    color: $bg-primary-text;
    text-align: left;
    padding: 5px 15px;
    z-index: 3;
    border-radius: 0 5px 5px 0px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    &:before{
        content: "";
        height: 10px;
        width: 10px;
        position: absolute;
        left: 0px;
        top: -10px;        
        border-right: 10px solid #000;
        border-top: 10px solid transparent;
    }
    &:after{
        content: "";
        height: 10px;
        width: 10px;
        position: absolute;
        left: 0px;
        bottom: -10px;        
        border-right: 10px solid #000;
        border-bottom: 10px solid transparent;
    }
}

.upcoming{
    width: auto;
    position: absolute;
    left: -5px;
    top: 100px;
    background: $bg-primary;
    color: $bg-primary-text;
    text-align: left;
    padding: 3px 10px;
    z-index: 3;
    border-radius: 3px 3px 3px 0px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    p{font-size: 12px;}
  
    &:after{
        content: "";
        height: 5px;
        width: 5px;
        position: absolute;
        left: 0px;
        bottom: -5px;        
        border-right: 5px solid #000;
        border-bottom: 5px solid transparent;
    }
}