.swiper-products {
    margin-bottom: -10px;

    .swiper-slide {
        width: auto;
        padding: 0 0px 10px 20px;

        &:first-child {
            padding-left: 30px;
        }

        &:last-child {
            padding-right: 30px;
        }
    }
}

.product-card-large {
    width: 300px;
    height: auto;

    .product-image-large {
        border-radius: 15px;
        overflow: hidden;
        height: 150px;
        width: 100%;
        display: block;
        position: relative;

        .tag-images-count {
            position: absolute;
            bottom: 5px;
            left: 5px;
            z-index: 1;
            padding: 5px 10px;
            border-radius: 15px;
            font-size: 12px;

            span {
                margin-left: 5px;
            }
        }

        .small-btn {
            position: absolute;
            top: 15px;
            right: 15px;
            z-index: 1;
        }
    }
}

.product-card-small {
    .product-image-small {
        border-radius: 15px;
        overflow: hidden;
        height: 80px;
        width: 80px;
        display: block;
        position: relative;

        .tag-images-count {
            position: absolute;
            bottom: 5px;
            left: 5px;
            z-index: 1;
            padding: 5px 10px;
            border-radius: 15px;
            font-size: 12px;

            span {
                margin-left: 5px;
            }
        }

        .small-btn {
            position: absolute;
            top: 15px;
            right: 15px;
            z-index: 1;
        }
    }
}

.product-image-top {
    margin-top: -60px;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
    height: 330px;
    width: 100%;
    display: block;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 200px;
        width: 100%;
        background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba($bg-secondary, 1) 100%);
        background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba($bg-secondary, 1) 100%);
        background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba($bg-secondary, 1) 100%);
        z-index: 1;
    }

    .tag-images-count {
        position: absolute;
        bottom: 50px;
        left: 30px;
        z-index: 1;
        padding: 5px 10px;
        border-radius: 15px;
        font-size: 12px;

        span {
            margin-left: 5px;
        }
    }

    .small-btn-wrap{
        position: absolute;
        bottom: 50px;
        right: 30px;
        z-index: 1;
    }

}
