/* responsive */

@media screen and (min-width:992px){
    main, body{
        background: $background-image-tablet $background-color fixed;
        background-size: cover;
    }
}


@media screen and (max-width:370px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .swiper-products .swiper-slide:first-child {
        padding-left: 15px;
    }

    .swiper-products .swiper-slide:last-child {
        padding-right: 15px;
    }

    .product-card-large {
        width: 290px;
        height: auto;
    }

    .mt-4,
    .my-4 {
        margin-top: 1.0rem !important;
    }

    .mb-4,
    .my-4 {
        margin-bottom: 1.0rem !important;
    }

    .image-circle > figure {
        height: 200px;
        width: 200px;
    }

    .image-circle {
        padding: 0px 15px 20px 15px;
    }

    .image-circle > .icon {
        margin: 0 auto -60px auto;
    }
}

