.rtl {
    direction: rtl;
    text-align: right;

    .float-right {
        float: left !important;
    }

    .text-left {
        text-align: right !important;
    }
    .text-right {
        text-align: left !important;
    }


    .pl-0 {
        padding-right: 0 !important;
        padding-left: 15px !important;
    }


    .ml-0,
    .mx-0 {
        margin-right: 0 !important;
    }

    .pl-2,
    .px-2 {
        padding-left: inherit !important;
        padding-right: .5rem !important;
    }

    .mr-auto {
        margin-right: 0 !important;
        margin-left: auto !important;
    }

    .ml-auto {
        margin-left: 0 !important;
        margin-right: auto !important;
    }

    .mx-auto {
        margin-right: auto !important;
        margin-left: auto !important;
    }

    .mr-2,
    .mx-2 {
        margin-left: .5rem !important;
    }

    .ml-2 {
        margin-right: .5rem !important;
        margin-left: 0 !important;
    }

    .mr-3,
    .mx-3 {
        margin-right: 0 !important;
        margin-left: 1rem !important;
    }

    .ml-3,
    .mx-3 {
        margin-left: 0 !important;
        margin-right: 1rem !important;
    }

    .mr-0,
    .mx-0 {
        margin-left: 0 !important;
    }

    .swiper-container{
        direction: ltr;
        .swiper-slide{
            direction: rtl
        }
    }
}
