.swiper-pagination-bullets {
    .swiper-pagination-bullet {
        opacity: 0.35;
        height: 10px;
        width: 10px;

        &.swiper-pagination-bullet-active {
            background-color: $color;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            opacity: 1;
        }
    }
}
